<!DOCTYPE html>
<html>
  <head>
    <title>我的文档系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style media="screen">
      .hide {
        display: none;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">我的文档系统</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
               <a href="#" class="navbar-link">管理员登录</a>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid" style="margin-top: 70px;">
        <div class="span3">
        </div>
        <div class="span9">
          <div class="" id='content'>

          </div>
        </div>
      </div>
    </div>

    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/marked.js"></script>
    <script src="static/makeup.js"></script>

    <script>
    document.getElementById('content').innerHTML = marked('# 我是文档系统');
      var documentStruct = [
        {
          name: '一个在线编辑markdown文档的编辑器',
          subStruct: [
            {
              name: '第一页',
              link: '什么是markdown.md'
            },
            {
              name: '第二页',
              subStruct: [
                {
                  name: '1-2-1',
                  link: '一个在线编辑markdown文档的编辑器.md'
                }
              ]
            }
          ]
        },
        {
          name: '什么是markdown',
          link: '什么是markdown.md'
        },
      ]
      var t = render(documentStruct);
      $('.span3').html(t);
      $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.sidebar-nav').on('click', 'li', function (e) {
          $('.active').removeClass()
          $(this).addClass('active')
          $(this).children('ul').toggleClass('hide')
          var link = $(this).data('link')
          if (link != undefined) {
            link = 'static/docs/' + link.replace('#', '');
            $.get(link, function(data) {
              console.log(data);
              document.getElementById('content').innerHTML = marked(data);
            })
          }
          return false
        });
      });
    </script>
  </body>
</html>
